@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Source+Code+Pro:wght@200;400;700&display=swap');

body {
  margin: 0;
  font-family: 'Source Code Pro', monospace;
  font-weight: 400; /* Set the default weight */
  color: #eee;
  background-color: #333; /* Background color for contrast */
}

h1, h2, h3, p, a {
  font-family: 'Source Code Pro', monospace;
  color: #eee;
}


a {
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: white;
}
